<footer>
    <div class="footer-container">
        <div class="social-media">
            <p>Vi finns på sociala medier också:</p>
            <i class="fa-brands fa-square-facebook fa-2x"></i>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-x-twitter fa-2x"></i>
            <i class="fa-brands fa-youtube fa-2x"></i>
            <i class="fa-brands fa-linkedin fa-2x"></i>
        </div>
        <div class="contact-info">
            <div><i class="fa-solid fa-phone"></i> <a href="tel:+040-665 70 00">040-665 70 00</a></div>
            <div><i class="fa-solid fa-envelope"></i> <a href="mailto:">Kontakta oss</a></div>
            <div>&copy; 2024 Jonas Ståleker</div>
        </div>
    </div>
</footer>