$main-color: #13325b; // Universitetets färg
$secondary-color: #9f7944;

.banner {
    display: block;
    background: url("../../../assets/banner.jpg") no-repeat left center fixed;
    height: 600px;
    background-size: cover;
    width: 100%;
    h2 {
        position: relative;
        top: 400px;
        left: 5%;
        background-color: $secondary-color;
        width: 280px;
        text-align: center;
        color: #fff;
        font-weight: 500;
        font-size: 2em;
        letter-spacing: 0.01em;
    }
    p {
        position: relative;
        top: 400px;
        left: 5%;
        background-color: $secondary-color;
        width: 250px;
        color: #fff;
        padding: 5px;
        
    }
}

.news-wrapper {
    padding: 20px;
    background-color: #fff;
}

.news-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    flex: 1 1 calc(33.333% - 20px); 
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.news:hover {
    cursor: pointer;
    h3 {
        text-decoration: underline;
    }
    img {
        filter: brightness(70%);
        transition: 1s;
    }
}

.news img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px 8px 0 0;
}

.news h3 {
    margin: 15px 0;
    font-size: 1.25em;
}

.news p {
    color: #666;
}

.main-content {
    padding-bottom: 100px; 
}