<div class="main-content">
    <div class="banner">
        <h2>Studera i Malmö?</h2>
        <p>Oavsett vad du är intresserad av har vi rätt utbildning för dig!</p>
    </div>
    <div class="news-wrapper">
        <h2>Vad händer på Pildammarna?</h2>
        <div class="news-box">
            <div class="news">
                <img src="../../../assets/summer-break.jpg" alt="sommarlov">
                <h3>Sommarlovet närmar sig</h3>
                <p>Det är inte för sent att anmäla dig till sommarkurser. Höstkurserna finns också redo att anmäla sig
                    till...</p>
            </div>
            <div class="news">
                <img src="../../../assets/einstein1.webp" alt="Albert Einstein">
                <h3>Gästföreläsning: Albert Einstein</h3>
                <p>Upptäck de senaste insikterna från fysikens värld.</p>
            </div>
            <div class="news">
                <img src="../../../assets/mentor.jpg" alt="mentor">
                <h3>Ny student? Skaffa en mentor!</h3>
                <p>Alla kan känna sig vilse ibland. Anmäl dig till mentorsprogrammet redan idag...</p>
            </div>
        </div>
    </div>
</div>