$main-color: #13325b; // Universitetets färg
$secondary-color: #9f7944;

table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.success-snackbar {
    background-color: #4caf50;
    /* Grön färg för framgång */
    color: #fff;
}

.error-snackbar {
    background-color: #f44336;
    /* Röd färg för fel */
    color: #fff;
}$main-color: #13325b; // Universitetets färg
$secondary-color: #9f7944;

a {
    color: $main-color;
}

a:visited {
    color: $secondary-color;
}
